# IDE files
.idea/
.vscode/

# Mac
.DS_Store

# Front
client/node_modules

# Torrents

backend/videos_hub/
backend/torrents/

# Cache
backend/__pycache__/
backend/db/__pycache__/
backend/app/__pycache__/
backend/app/resources/__pycache__/
backend/app/resources/loginPage/__pycache__/
backend/app/resources/Common/__pycache__/
backend/app/resources/Users/__pycache__/
backend/app/resources/Videos/__pycache__/